pandas
langchain
langchain-community
langchain-core
faiss-cpu
langchain-text-splitters
pymupdf
langchain-openai
langchain-experimental
langgraph
python-dotenv
pydantic
langsmith
langchain-google-genai
langchain-huggingface
transformers
pypdf
langgraph-checkpoint-sqlite
tabulate
langchain-groq
boto3
s3fs
streamlit
torch
sentence-transformers